apiVersion: hetzner.m.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
  namespace: crossplane-system
spec:
  credentials:
    source: Secret
    secretRef:
      name: hetzner
      namespace: crossplane-system
      key: credentials
